@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  min-width: 375px;
  height: 550px;
  width: 30%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
}
.order-header {
  width: 100%;
  height: 35%;
  background-image: url(images/illustration-hero.svg);
  background-size: cover;
  background-position: bottom;
  border-radius: 10px 10px 0px 0px;
}
.order-summary {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
}
.order-summary h2 {
  padding-top: 30px;
  padding-bottom: 15px;
}
.order-summary p {
  font-size: 0.8rem;
  text-align: center;
  padding-left: 50px;
  padding-right: 40px;
  opacity: 0.7;
}
.order-plan {
  margin-top: 20px;
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-plan img {
  width: 50px;
  height: 50px;
}
.order-plan-year {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-plan-year p {
  font-weight: 900;
}
.order-plan-year span {
  font-size: 0.8rem;
  opacity: 0.9;
}
.order-payment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order-payment button {
  font-size: 0.8rem;
  color: white;
  font-weight: 700;
  background-color: rgb(56, 41, 224);
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 10px;
}
.order-payment a {
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.7;
  color: black;
  font-size: 0.7rem;
}
@media only screen and (max-width: 425px) {
  body {
    background-image: url(images/pattern-background-mobile.svg);
    font-size: 14px;
  }
  .card {
    max-width: 80%;
    margin: 10px;
  }
}
